{% extends "layout2.html" %}
{% from "_macros.html" import form_floating %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Alumnos</h3>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Primer apellido</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.primerApellido }}</td>
                    <td>{{ alumno.email }}</td>
                    <td class="row">
                        <a href="{{ url_for('editarAlumno') }}" class="btn btn-warning col">Editar</a>
                        <a href="{{ url_for('cargarIndex') }}" class="btn btn-danger mx-3 col">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}